{% extends "layout/admin.twig" %}


{% block main %}
	<div class="admin__container">
		<table>
			<caption>Plats</caption>
			<thead>
				<tr>
					<th>id</th>
					<th>nom</th>
					<th>taille</th>
					<th>description</th>
					<th>prix</th>
					{# <th>image</th> #}
					<th>catégorie</th>
					<th>date de création</th>
					<th>date de modification</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for dish in dishes %}
					<tr>
						<td>{{dish.getId()}}</td>
						<td>{{dish.getName()}}</td>
						<td>{{dish.getSize()}}</td>
						<td>{{dish.getDescription()}}</td>
						<td>{{dish.getPrice()}}</td>
						<td>{{dish.getCategoryName()}}</td>
						<td>{{dish.getCreatedAt()}}</td>
						<td>{{dish.getUpdatedAt() ? dish.getUpdatedAt : '-'}}</td>
						<td>
							<a href="/admin/plats/modifier/{{dish.getId()}}">modifier</a>
							<a href="/admin/plats/supprimer/{{dish.getId()}}">supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="btn__container">
			<a class="btn" href="/admin/plats/ajouter">Ajouter un plat</a>
		</div>
	</div>
{% endblock %}
