<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/public/assets/scss/main.css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/public/assets/js/main.js" defer></script>
		{% block head %}{% endblock %}

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dancing+Script:wght@600&family=Parisienne&family=Roboto&display=swap" rel="stylesheet">
		<title>Ristorante |
			{{ title }}
		</title>
	</head>
	<body>
		<header class="main__header">

			<a class="brand" href='/'>
				<span class="ristorante-logo"></span>
				<span class="brand__name">Ristorante</span>
			</a>
			<nav class="nav">
				<input type="checkbox" id="burger">
				<label class="burger" for="burger">
					<div class="ristorante-fork"></div>
					<div class="ristorante-spoon"></div>
					<div class="ristorante-knife"></div>
				</label>
				<ul>
					<li>
						<a href="/" class="{{pageName == 'home' ? 'active' : ''}}">Accueil</a>
					</li>
					<li>
						<a href="/menu" class="{{pageName == 'menu' ? 'active' : ''}}">Menu</a>
					</li>
					{% if user %}
						<li>
							<a href="/commander" class="{{pageName == 'commander' ? 'active' : ''}}">Commander</a>
						</li>
						<li>
							<a href="/panier" class="{{pageName == 'panier' ? 'active' : ''}}">Panier</a>
						</li>
						<li>
							<a href="/mon-compte" class="{{pageName == 'mon-compte' ? 'active' : ''}}">Mon compte</a>
						</li>
						<li>
							<a href="/deconnexion">Déconnexion</a>
						</li>
					{% else %}
						<li>
							<a href="/connexion" class="{{pageName == 'connexion' ? 'active' : ''}}">Connexion</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<main class="main__main">
			<div id="notif"></div>
			{% block main %}{% endblock %}
		</main>
		<footer class="main__footer">
			<h3 class="brand--text">Ristorante</h3>
			<ul class="social-icons">
				<li>
					<a class="ristorante-facebook" href="#"></a>
				</li>
				<li>
					<a class="ristorante-instagram" href="#"></a>
				</li>
				<li>
					<a class="ristorante-twitter" href="#"></a>
				</li>
			</ul>
			<ul class='cgu'>
				<li>
					<a href="/about" class="{{pageName == 'about' ? 'active' : ''}}">A propos</a>
				</li>
				<li>
					<a href="/contact" class="{{pageName == 'contact' ? 'active' : ''}}">Contact</a>
				</li>
			</ul>
		</footer>
	</body>
</html>
