{% macro input(name, value, label, id, placeholder, errorMessage, type = 'text') %}
	<div>
		<div class="input__container">
			<label for="{{id}}">{{label}}</label>
			<input id="{{id}}" name="{{name}}" type="{{type ?? 'text'}}" placeholder="{{placeholder}}" value="{{value}}">
		</div>
		{% if errorMessage %}
			<p class="error">{{errorMessage}}</p>
		{% endif %}
	</div>
{% endmacro %}


{% macro textarea(name, value, label, id, placeholder, errorMessage) %}
	<div>
		<label for="{{id}}">{{label}}</label>
		<textarea id="{{id}}" name="{{name}}" placeholder="{{placeholder}}">{{value}}</textarea>
	</div>
	{% if errorMessage %}
		<p class="error">{{errorMessage}}</p>
	{% endif %}


{% endmacro %}
